# App lock
type app_lock_service, system_api_service, system_server_service, service_manager_type;

# Pocket Judge
type pocket_service, system_api_service, system_server_service, service_manager_type;

# Parallel Space
type parallel_space_service, system_api_service, system_server_service, service_manager_type;

# FaceUnlock
type faceunlock_service, system_api_service, system_server_service, service_manager_type;
