# App Lock
add_service(system_server, app_lock_service);

# Pocket Judge
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;
allow system_server pocket_service:service_manager { add find };

# Parallel Space
add_service(system_server, parallel_space_service);

# Global cleartext feature
allow system_server system_exported_cleartext_prop:property_service set;
